.popup {
  height: 100px;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup-switch, .popup-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-slider {
  width: 100%;
}