.score-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: black;
  color: white;
  z-index: 999;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  /* box-shadow: 0 2px 10px rgba(0,0,0,.15); */
  box-shadow: -3px 7px 47px 7px rgba(0,0,0,0.48);
  border-radius: 5px;
}

.outer-box {
  position: absolute;
  bottom: 0;
  right: 0;
}

.popup {
  height: 100px;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup-switch, .popup-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-slider {
  width: 100%;
}

.ant-slider-track {
  background-color: #f5f5f5 !important;
}

.ant-slider-rail {
  background-color: #91d5ff !important;
}